<h6>Add Patient:</h6>
<form (ngSubmit)="onSubmit()" #patientForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Name"
          id="name"
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel">
    </div>
    <div class="col-auto">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Description"
        id="description"
        [(ngModel)]="model.description"
        name="description"
        #description="ngModel">
    </div>
    <div class="col-auto">
      <select 
        class="form-control"
        id="gender"
        [(ngModel)]="model.gender"
        name="gender"
        #gender="ngModel">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
<br />
<h6>Patients List:</h6>
<div *ngIf="(patients | async)?.length!=0">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Patient Name</th>
      <th>Description</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let t of patients | async">
      <td><span>{{ t.id }}</span></td>
      <td><span>{{ t.name }}</span></td>
      <td><span>{{ t.description }}</span></td>
      <td>
        <span *ngIf="t.gender == 'male'">Male</span>
        <span *ngIf="t.gender == 'female'">Female</span>
      </td>
      <td><button class="btn btn-primary" (click)="removePatient(t)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>