

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">Clinic</a> -->
  <a routerLink="/">Clinic</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"  routerLink="/patient">Patient Data</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  routerLink="/patient">Patient Discharge</a>
    </li> -->

  
  </ul>
</nav>

<div class="container-fluid">
  <!-- <app-patient-overview></app-patient-overview>
            <app-patient-list></app-patient-list> -->
            <router-outlet></router-outlet>
           
            <router-outlet name='PatientOverviewComponent'></router-outlet>

            <!-- <h3>sectionA : named-router-outlet</h3> -->
            <router-outlet name='PatientListComponent'></router-outlet>
        
         
        
            <!-- <h3>SectionB : named-router-outlet</h3> -->

</div>