<p class="text-right">
  <span class="badge badge-secondary">Last Update: {{ (lastUpdate | async) | date:'mediumTime' }} | Total items: {{
    (patients | async).length }}</span></p>
<button class="btn btn-primary" (click)="clearPatients()">Delete All</button>